
<po-page-default p-title="Solicitação de Reembolso" [p-breadcrumb]="breadcrumb">

 <div class="po-row">
  <h1 class="po-md-10">Reembolso</h1>
  
  <po-button p-label="Solicitar Reembolso"  (p-click)="newRefundOrder()" class="button-spacing"> </po-button>
  <po-button p-label="Voltar" (p-click)="navigateToMenu()" class="button-spacing"></po-button>
</div>
<br> 

<po-list-view
  p-property-title="name"
  [p-items]="[
    {
      name: 'Solicitação Reembolso - 001',
      solicitante: 'João',
      solicitation: [
        {
          number: '001',
          responsible: 'João',
          currentActivity: 'Inicio',
          transportValue: 'R$100',
          foodAllowance: 'R$150',
          receipt: 'Link/Imagem do comprovante 1',
          date: '23/06/2023'
        },
        {
          number: '002',
          responsible: 'Maria',
          currentActivity: 'Aprovar Reembolso',
          transportValue: 'R$100',
          foodAllowance: 'R$150',
          receipt: 'Link/Imagem do comprovante 2',
          date: '23/06/2023'
        }
      ]
    },
    {
      name: 'Solicitação Reembolso - 003',
      solicitante: 'Pedro',
      solicitation: [
        {
          number: '003',
          responsible: 'Pedro',
          currentActivity: 'Realizar Pagamento',
          transportValue: 'R$100',
          foodAllowance: 'R$150',
          receipt: 'Link/Imagem do comprovante 3',
          date: '23/06/2023'
        },
        {
          number: '004',
          responsible: 'Ana',
          currentActivity: 'Inicio',
          transportValue: 'R$100',
          foodAllowance: 'R$150',
          receipt: 'Link/Imagem do comprovante 4',
          date: '23/06/2023'
        }
      ]
    }
  ]"
>
 
<ng-template p-list-view-content-template let-item>
  <div class="po-row">
    
    <div class="po-md-5">
      <po-button
        p-label="Adicionar Reembolso"
        (p-click)="newRefundOrder()">
      </po-button>
      {{''}}
      <po-button
      p-label="Movimentar Solicitação"
      (p-click)="newRefundOrder()">
    </po-button>
    </div> 
    <div class="po-md-7">
      <po-stepper>
        <po-step p-label="Início"></po-step>
        <po-step p-label="Aprovar Reembolso"></po-step>
        <po-step p-label="Anexar Notar"></po-step> 
      </po-stepper>
    </div>
  </div>
  <br>  
  <po-divider class="po-md-12" p-label="Dados da Solicitação"></po-divider>
  <div class="po-row">
    <po-info class="po-md-3" p-label="Número da Solicitação" [p-value]="item.solicitation[0].number"></po-info>
    <po-info class="po-md-3" p-label="Solicitante" [p-value]="item.solicitante"></po-info>
    <po-info class="po-md-3" p-label="Responsável" [p-value]="item.solicitation[0].responsible"></po-info>
    <po-info class="po-md-3" p-label="Atividade Atual" [p-value]="item.solicitation[0].currentActivity"></po-info>
  </div>

  <br>
  <br>
  <po-divider class="po-md-12" p-label="Lista de Reembolsos"></po-divider>
  
  <div class="po-row">
    <div class="po-md-12">
      <po-table
        [p-columns]="columns"
        [p-items]="item.solicitation"
      ></po-table>
    </div>
  </div>
</ng-template>
</po-list-view> 
</po-page-default>
<br>
<br>
<br>
<br>
<br>
<br>
<po-divider>
</po-divider>
