
<po-page-default p-title="Solicitação de Reembolso">

 <div class="po-row">
  <h1 class="po-md-10">Reembolso</h1>
  <po-button
    class="po-md-2 new-purchase-button"
    p-type="primary"
    p-label="Novo pedido de Reembolso"
    (p-click)="newRefundOrder()">
  </po-button>
</div>
<br>
  
<po-list-view
  p-property-title="name"
  [p-items]="[
    { name: 'Registro 1', email: 'register@po-ui.com' },
    { name: 'Registro 2', email: 'register2@po-ui.com' }
  ]"
>
  <ng-template p-list-view-content-template let-item>
    <div class="po-row">
      <div class="po-md-8">
        <po-info p-label="Email" [p-value]="item.email"></po-info>
      </div>
      <div class="po-md-4 po-text-right">
        <po-button
          class="button-spacing"
          p-label="Editar"
          (p-click)="EventEmitterEdit"
          p-icon="po-icon-edit"
          p-kind="primary"
          p-small="boolean">
        </po-button>
        <po-button
          class="button-spacing"
          p-label="Excluir"
          (p-click)="EventEmitterDelete"
          p-icon="po-icon-delete"
          p-danger="boolean"
          p-small="boolean">
        </po-button>
      </div>
    </div>
  </ng-template>
</po-list-view>

</po-page-default>
