 
  <po-page-default p-title="Solicitar Reembolso" [p-breadcrumb]="breadcrumb">  
    <po-container> 
    <div class="po-row">
      <po-datepicker 
        name="Data" 
        p-clean
        p-label="Data" 
      >
      </po-datepicker> 
    </div> 

    <div class="po-row">
      <po-input name="input" p-label="Transporte"> </po-input>
    </div>
     
    <div class="po-row">
      <po-input name="input" p-label="Refeição"> </po-input>
    </div>

     
    <div class="po-row">
      <po-upload name="upload" p-label="Comprovante" p-url="https://po-sample-api.fly.dev/v1/uploads/addFile"> </po-upload>
    </div>
    
    <br>
    
    <div class="po-row">
      <po-button p-label="Salvar" (p-click)="onClick()" class="button-spacing"></po-button>
    
      <po-button p-label="Voltar" (p-click)="navigateToMenu()" class="button-spacing"></po-button>
    </div>
    
     
  </po-container> 
  </po-page-default>
 